# ---- Core Backend ----
fastapi
uvicorn[standard]
pydantic
python-dotenv

# ---- Database ----
sqlalchemy
psycopg2-binary
alembic

# ---- Scraping ----
requests
beautifulsoup4
lxml
pandas

# ---- LLM + LangChain ----
langchain
langchain-community
langchain-core
langchain-groq
langchain-google-genai
langgraph 
pymilvus
tiktoken

# ---- Utils ----
httpx
tenacity


